{
  "extends": "@istanbuljs/nyc-config-typescript",
  "reporter": [
    "text",
    "html"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "src"
  ],
  "exclude": [
    "dist",
    "node_modules",
    "test"
  ]
}
